<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation" android:minSdkVersion="33"
        tools:ignore="UnusedAttribute" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiFiDirectTest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WiFiDirectActivity"
            android:exported="true"
            android:theme="@style/Theme.WiFiDirectTest"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.wifi.p2p.STATE_CHANGED"/>
                <action android:name="android.net.wifi.p2p.PEERS_CHANGED"/>
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE"/>
                <action android:name="android.net.wifi.p2p.THIS_DEVICE_CHANGED"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity
            android:name=".WiFiAwareActivity"
            android:exported="true"
            android:theme="@style/Theme.WiFiDirectTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.wifi.aware.action.WIFI_AWARE_STATE_CHANGED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
    </application>

</manifest>